.container {
  position: absolute;
  top: 12px;
  right: -300px;
  z-index: 31;
  margin-right: 10px;
}
.container input[type="checkbox"] {
  position: absolute;
  display: block;
  height: 32px;
  width: 32px;
  top: 0px;
  right: 0px;
  z-index: 5;
  opacity: 0;
  cursor: pointer;
}

.hamburger_lines {
  height: 26px;
  width: 32px;
  top: 17px;
  left: 20px;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.line {
  display: block;
  height: 4px;
  width: 100%;
  border-radius: 10px;
  background-color: var(--small-text1);
}

.line1 {
  transform-origin: 0% 0%;
  transition: transform 0.2s ease-in-out;
}

.line2 {
  transition: transform 0.1s ease-in-out;
}

.line3 {
  transform-origin: 0% 100%;
  transition: transform 0.2s ease-in-out;
}

.container input[type="checkbox"]:checked ~ .hamburger_lines .line1 {
  background: white;
  transform: rotate(45deg);
}

.container input[type="checkbox"]:checked ~ .hamburger_lines .line2 {
  transform: scaleY(0);
}

.container input[type="checkbox"]:checked ~ .hamburger_lines .line3 {
  background: white;
  transform: rotate(-45deg);
}

@media screen and (max-width: 878px) {
  .container {
    right: -350px;
  }
}
@media screen and (max-width: 728px) {
  .container {
    right: -300px;
  }
}

@media screen and (max-width: 630px) {
  .container {
    right: -250px;
  }
}

@media screen and (max-width: 524px) {
  .container {
    right: -230px;
  }
}

@media screen and (max-width: 465px) {
  .container {
    right: -200px;
  }
}
@media screen and (max-width: 385px) {
  .container {
    right: -170px;
  }
}
