.wrapper {
  max-width: 1920px;
  max-height: 780px;
  margin: 0 auto;
}

.container {
  max-width: var(--max-width);

  margin: 60px auto;
  max-height: 660px;
  border-radius: 4px;
  background: rgba(255, 244, 238, 1);
  padding: 0 10px 40px 10px;
}
.inputs {
  padding: 20px 100px 10px 100px;
}

.info {
  height: 116px;
  border-bottom: 1px solid rgba(68, 75, 88, 1);
  padding: 40px 0 10px 100px;
  margin-bottom: 20px;
}

.title {
  color: rgba(68, 75, 88, 1);
  margin-bottom: 20px;
  font-size: 30px;
  font-weight: 700;
  line-height: 30px;
  text-align: left;
}

.description {
  color: rgba(128, 128, 128, 1);
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  text-align: left;
}

.span {
  color: rgba(68, 75, 88, 1);
  padding: 20px 100px;
  /* display: block; */
  font-size: 20px;
  font-weight: 700;
  line-height: 20px;
  text-align: right;
}

.selection {
  padding: 20px 100px 20px 100px;
  border-bottom: 1px solid rgba(68, 75, 88, 1);
}

.sneakers img {
  margin-bottom: 10px;
}

.input {
  margin: 5px;
}
label {
  cursor: pointer;
  margin: 5px;
}
.inputs {
  display: flex;
  justify-content: space-between;
}

.check_input {
  width: 0;
  height: 0;
  opacity: 0;
  position: absolute;
  z-index: -1;
}

.check_input:focus + .check_style {
  box-shadow: 0px 0px 0px 1px #38577a, 0px 0px 1px #7e9bbd;
}

.check_style {
  position: relative;
  display: inline-block;
  width: 20px;
  height: 20px;
  background: #ffffff;
  border: 1px solid rgba(219, 187, 169, 1);
  border-radius: 4px;
  vertical-align: sub;
  margin-right: 5px;
}

.check_style span {
  width: 39px;
  height: 16px;
  top: 4px;
  left: 34px;
  gap: 0px;
  opacity: 0px;
}

.check_style::before {
  content: "";
  width: 14px;
  height: 14px;
  background-image: url(../../images/Vector.png);
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  left: 50%;
  top: 50%;
  background-size: contain;
  background-repeat: no-repeat;
  transform: translate(-50%, -50%) scale(0);
  margin-top: 1px;
  transition: all 0.2s ease;
}

.check_input:checked + .check_style::before {
  transform: translate(-50%, -50%) scale(1);
}

.counter {
  font-family: var(--text-font);
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  text-align: left;
  color: rgba(128, 128, 128, 1);
}

.step {
  max-width: 980px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 1095px) {
  .container {
    margin: 30 0 0 0;
    height: 623px;
  }
  .inputs {
    padding: 20px 30px 0 30px;
  }
}
@media screen and (max-width: 878px) {
  .info {
    padding: 40px 0 10px 50px;
  }
  .info p {
    font-size: 12px;
  }
  .selection {
    padding: 20px 40px;
  }
  .span {
    padding: 0 0 0 50px;
  }
}

@media screen and (max-width: 700px) {
  .info h2 {
    font-size: 18px;
    margin: 0;
  }
  .span {
    font-size: 18px;
  }
  .inputs {
    flex-wrap: wrap;
    justify-content: center;
  }
}

@media screen and (max-width: 460px) {
  .info {
    padding: 10px 0 10px 10px;
  }
  .info h2 {
    font-size: 14px;
  }
  .span {
    font-size: 14px;
    padding: 0 0 0 10px;
  }
  .selection {
    padding: 20px 10px;
  }
}
