@font-face {
  font-family: IntroBold;
  src: url("./fons/Intro-Bold-Alt.ttf");
}

@font-face {
  font-family: IntroBook;
  src: url("./fons/Intro-Book.ttf");
}

@font-face {
  font-family: IntroRegular;
  src: url("./fons/Intro-Regular.ttf");
}

:root {
  --bg: rgba(72, 66, 131, 1);
  --accent: rgba(241, 79, 79, 1);
  --text: rgba(68, 75, 88, 1);
  --text1: rgba(255, 255, 255, 1);
  --small-text: rgba(219, 187, 169, 1);
  --small-text1: rgba(255, 244, 238, 1);
  --small-text2: rgba(178, 181, 187, 1);

  --max-width: 1180px;
  --logo-font: "IntroBold", sans-serif;
  --text-font: "IntroBook", sans-serif;
  --title-font: "IntroRegular", sans-serif;
}

img {
  width: 100%;
}

input {
  border: none;
}

a {
  color: var(--text1);
  font-family: var(--text-font);
  text-decoration: none;
}
ul,
a {
  padding: 0.5rem;
  margin-right: 0.2rem;
  color: var(--text1);
  background: transparent;
  border: 0.1rem solid transparent;
  border-radius: 3rem;
  transition: background 0.3s ease, color 0.3s ease;
}

li {
  list-style-type: none;
}
.wrapper {
  background-color: var(--bg);
  max-width: 1920px;
  position: relative;
  margin: 0 auto;
}

.container {
  max-width: var(--max-width);
  margin: 0 auto;
}

h1,
h2,
h4 {
  font-family: var(--title-font);
  color: var(--text1);
}
h3,
h4 {
  color: var(--text);
}

p {
  font-family: var(--text-font);
  color: var(--text1);
}

span {
  font-family: var(--logo-font);
  color: var(--text1);
}

label {
  color: var(--text);
}
button {
  border: none;
}

.map {
  max-width: 680px;
  height: 497px;
}

.dark,
.light {
  color: var(--text1);
  background: transparent;
  transition: background 0.3s ease, color 0.3s ease;
}
.dark {
  background-color: rgb(106, 101, 101);
}

.dark h2,
.dark h3,
.dark h4,
.dark p,
.dark a,
.dark span,
.dark button,
.dark label {
  color: white;
}

.dark .button_dark {
  background-color: var(--bg);
}
